.home,
.about,
.service,
.portfolio {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    color: var(--text-black-900);
    position: relative;
    .container {
        flex: 0 0 87.47130206625124%;
        max-width: 87.47130206625124%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        min-height: 100vh;
        width: 100%;
        .row_top {
            align-self: flex-start;
            width: 100%;

            .section-title {
                display: block;
                align-self: flex-start;
                flex: 0 0 100%;
                max-width: 100%;
                margin: 0 0 60px 0;

                h2 {
                    @include h2;
                    position: relative;
                    left: 0;

                    &::before,
                    &::after {
                        content: "";
                        width: 50px;
                        height: 4px;
                        background-color: $color-primary;
                        position: absolute;
                        top: 100%;
                        left: 0;
                    }

                    &::after {
                        margin-top: 8px;
                        width: 25px;
                    }
                }
            }
        }
        .row_center {
            align-self: center;
            width: 100%;
        }
        .col_end {
            height: 60px;
        }
    }
}
