@media screen and (max-width: 992px) {
    #tablet {
        display: flex;
    }
    #desktop {
        display: none;
    }
    .home,
    .about,
    .service,
    .portfolio,
    .contact {
        .container {
            flex: 0 0 calc(100% - 137.5px);
            max-width: calc(100% - 137.5px);
        }
    }

    .main-content {
        min-width: 100%;
        padding-left: 0;
    }

    .open {
        .aside {
            @include transform(translateX(-100vw));
        }
        .main-content {
            width: 100%;
            @include transform(translateX(0vw));
            animation: slide 0.4s ease;
            opacity: 1;
        }
    }
    .close {
        .main-content {
            width: 100%;
            @include transform(translateX(0));
            animation: slide 0.4s ease reverse;
        }
    }
    .modal {
        .content {
            width: calc(100vw - 127px);

            button {
                position: absolute;
                top: 1.125em;
                left: calc(100% - 2.25em);
                border: none;
                background-color: transparent;

                &:hover {
                    @include transform(scale(1.1));
                }
                svg {
                    position: relative;
                }
                cursor: pointer;
            }
        }
    }
    @keyframes slide {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .aside {
        padding: 15px 30px;
        width: 100vw;
        &_bg {
            position: absolute;
            left: calc(50% - 210px);
            top: 0;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            width: 420px;
            min-height: 100vh;
            z-index: 100;
            overflow: hidden;

            &_top,
            &_center,
            &_bottom {
                border-radius: 15px;
            }
            &_top {
                display: block;
                width: 360px;
                height: 120px;
                border-top: 0px solid var(--bg-black-50);
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
            &_center {
            }
            &_bottom {
                display: block;
                width: 420px;

                height: 128.33px;

                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }
        .switcher-block,
        .logo,
        .nav {
            z-index: 100;
        }
        .logo {
            width: 300px;
            height: 90px;
            background: var(--bg-black-100);
            border-radius: 15px;
            a {
                &::before {
                    width: 30px;
                    height: 30px;
                }

                &::after {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .nav {
            border-radius: 15px;
            position: relative;
            // top: -22.5px;
            // left: calc(50vh - 120px);
            width: 240px;
            height: 380px;
            // height: auto;
            padding: 15px;
            z-index: 10000;

            // background-color: var(--bg-black-100);

            li,
            .head-btn {
                height: 60px;
                a {
                    flex: 2;
                    min-width: 131.25px;
                    padding: 15px;
                }
                .icon,
                .lang-icon {
                    flex: 1;
                    max-width: 78.75px;
                    margin-right: 15px;
                    padding: 15px 15px 15px 22.5px;
                }
            }
            .nav-language {
                border-bottom: 0px solid var(--bg-black-50);
            }

            &.langOpen {
                //animation: navGrow 0.6s linear;
                height: 420px;
                justify-content: flex-start;

                li {
                    top: -5px;
                }
            }
            &.langClose {
                animation: navGrow 0.3s linear reverse;
                height: 380px;
                li {
                    // animation: liUp 0.15s linear reverse;

                    top: 0px;
                }
            }
        }

        @keyframes navGrow {
            0% {
                height: 380px;
            }
            100% {
                height: 420px;
            }
        }

        .lang-icon {
            margin-left: 15px;
            max-width: 78.75px;
        }
        .switcher-block {
            @include row_R;
            flex-flow: column;
            justify-content: space-around;
            position: static;
            z-index: 100;
            .s-icon {
                position: relative;
                left: -30px;
                width: 30px;
                height: 30px;
                font-size: 21px;
                line-height: 30px;
                &.style-switcher-toggler {
                    top: -27px;
                }

                &.day-night {
                    top: -17px;
                }
            }
        }
        .switcher-container {
            max-width: 300px;
            @include row_R;
            flex-flow: row nowrap;
            .style-switcher {
                min-width: 244px;
                height: 128.33px;
                position: relative;
                left: -30px;
                top: -18.33px;
                border-radius: 15px;
            }
            h4 {
                left: 0;
                top: -10px;
            }
            .colors {
                padding: 0 15px;
                span {
                    width: 27.5px;
                    height: 27.55px;
                    border: 1px solid var(--bg-black-50);
                    border-radius: 50%;
                    cursor: pointer;
                    position: relative;
                    left: 5px;
                    top: -9px;
                }
            }
        }
    }

    .flag {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        &:hover {
            .lang {
                color: var(--skin-color);
            }
            .color-icon {
                fill: var(--skin-color);
            }
        }
        .language-menu {
            top: 60px;
            height: 45px;
            width: 240px;
            @include transform(translateY(-60px) scaleY(0));

            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            // box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
            padding: 0 45px;
            img {
                margin: 07.5px auto;
            }
            .flagLogo {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 28px;
                height: 30px;
                padding: 5px;
                cursor: pointer;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                z-index: 10000;
                &:hover,
                &.active {
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
            }
        }
        &.open .language-menu {
            @include transform(translateY(0px) scaleY(1));
            top: 45px;
            height: 60px;

            img {
                position: relative;
                top: 7.5px;
            }
        }
        &.close .language-menu {
            opacity: 0;
            @include transform(translateY(-30px) scaleY(0));
        }
    }
    .about {
        .row_timeLine {
            flex-flow: column;
            & .experience {
                flex: 0 0 100%;
                max-width: 100%;
                .experience {
                    margin: 1.1875em 0;
                }
                .row {
                    max-width: 90.6038%;
                    margin: auto;
                }
            }
        }
    }
    .service_container {
        .service-item {
            flex: 1;
            flex: 0 0 48.19645785503444%;
            max-width: 48.19645785503444%;
            margin: 0 0 3.607084289931125% 0;
            .service-item-inner {
                p {
                    white-space: initial;
                }
            }
        }
    }
}
@media screen and (max-width: 839px) {
    .home,
    .about,
    .service,
    .portfolio,
    .contact {
        .container {
            max-width: calc(100% - 120px);
        }
    }
    #nav-toggler {
        top: 15px;
        right: 15px;
    }

    .about {
        .about-content {
            .about-text p {
                max-width: calc(100% - 20px);
                margin: auto;
            }
            .row-skills {
                max-width: calc(100% - 5px);
                margin: auto;
                gap: 30px;
                .personal-info,
                .skills {
                    flex: 0 0 calc(50% - 15px);
                }
            }
        }
        .row_timeLine {
            .experience {
                .row {
                    max-width: calc(100% - 30px);
                }
            }
        }
    }
    .service_container {
        max-width: calc(100% - 30px);
        margin: auto;
        gap: 30px;
        .service-item {
            flex: 1;
            flex: 0 0 calc(50% - 15px);
            margin: 0;
            .service-item-inner {
                p {
                    white-space: initial;
                }
            }
        }
    }
    .contact {
        .container {
            .row_center {
                align-self: center;
                max-width: calc(100% - 15px);
                margin: auto;
            }
        }
        &-content {
            width: 100%;
            .row {
                gap: 30px;
            }
        }
    }
    .contact-title {
        margin-bottom: 7.5px;
    }
    .contact-info-item {
        margin-bottom: 15px;
    }
    .contact-sub-title {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 720px) {
    body {
        font-size: 2.2222vw;
    }

    .home,
    .about,
    .service,
    .portfolio,
    .contact {
        .container {
            max-width: calc(100% - 60px);
            .col_end {
                height: 0px;
                border: 1px solid #000;
            }
        }
    }
    #nav-toggler {
        top: 10px;
        right: 10px;
        width: 40px;
    }
    .home {
        .container {
            margin: auto;
            padding-top: 5px;
            .row_center {
                .row {
                }
            }
        }
        max-height: 100vh;
    }
    .about {
        .container {
            .col_end {
                display: none;
            }
        }

        .about-content {
            .about-text {
                p {
                    max-width: calc(100% - 80px);
                    margin: auto;
                }
                h3 {
                    max-width: calc(100% - 20px);
                    margin: 0 auto 20px;
                }
            }

            .row-skills {
                max-width: calc(100% - 40px);
                margin: auto;
                gap: 30px;
                flex-flow: column;
                .personal-info,
                .skills {
                    flex: 0 0 calc(100% - 0px);
                    max-width: calc(100% - 0px);
                }
            }

            .row {
                .personal-info {
                    margin: 20px 0;
                }
                .skills {
                    margin-top: 0;
                    .skill-item:last-child {
                        margin: 0 0 30px 0;
                    }
                }
                .buttons {
                    position: static;
                    display: inline-flex;

                    flex: 0 0 calc(100% - 15px);
                    max-width: 100%;
                    flex-flow: row nowrap;
                    margin: 0 0 60px 0;
                    & .btn_right {
                        position: absolute;
                        right: 0;
                    }
                    .btn_left {
                        margin: 0;
                    }
                }
            }
        }
        .row_timeLine {
            .experience {
                .title {
                    margin: 0 0 30px 0;
                }
                .row {
                    // education + exp
                    max-width: calc(100% - 40px);
                    margin-bottom: 30px;
                }
                &:last-child {
                    // exp
                    .row {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    .service {
        .container {
            .col_end {
                display: none;
            }
        }
    }

    .service_container {
        max-width: calc(100% - 40px);
        .service-item {
            flex: 0 0 calc(50% - 15px);
            .service-item-inner {
                p {
                    white-space: initial;
                }
            }
            &:last-child,
            &:nth-child(5) {
                // exp
                margin-bottom: 0px;
            }
        }
    }
    .portfolio {
        .container {
            .row_top {
                .section-title {
                    margin-bottom: 30px;
                }
                .portfolio-heading {
                    margin: 0px 20px;
                }
            }
            .service_container {
                height: auto;

                .service-item {
                    .portfolio-item-inner {
                        // gérer l'image
                    }
                }
            }
        }

        .container {
        }
    }
    .contact {
        .container {
            padding-top: 30px;
            .row_top {
                .section-title {
                    margin: 0 0 20px 0;
          
                }
            }

            .row_center {
                align-self: center;
                max-width: calc(100% - 15px);
                margin: auto;
            }
        }
        &-content {
            width: 100%;
            .row {
                gap: 30px;
            }
        }
    }
    .contact-title {
        margin-bottom: 7.5px;
    }
    .contact-info-item {
        margin-bottom: 15px;
    }
    .contact-sub-title {
        margin-bottom: 30px;

    }
    .contact-content:first-child {
        .contact-sub-title {
            margin-bottom: 15px;
           
        }
    }
}
@media screen and (max-width: 675.5px) {
    body {
        font-size: 15px;
    }
}
