@media screen and (max-width: 1920px) {
    .home {
        .row {
            .home-info {
                .home-title {
                }
            }
        }
    }
}
@media screen and (max-width: 1660px) {
    .home {
        .row {
            .home-info {
                justify-content: flex-start;
                align-items: flex-start;
                .home-title {
                    margin: 1.5em 0 0 0;
                    span.name {
                        margin: 0 0.625em 0 0;
                        font-size: 32px;
                    }
                }

                .home-card {
                    position: static;
                    top: 0em;
                    &_group {
                        margin: 0.65em 0 1em 0;
                    }

                    .home-card-content {
                        font-size: 1.125em;
                        margin: 0;
                    }
                }

                .hire-me {
                    position: absolute;
                }
            }
        }
    }
}
@media screen and (max-width: 1600px) {
    .open,
    .close {
        .bgDraw2 {
            height: calc(50vh - 19.237vw - 0vw);
            bottom: 6.14%;
        }
    }
    body {
        font-size: 16px;
    }
    .home,
    .about,
    .service,
    .portfolio,
    .contact {
        .container {
            .row_top {
                .section-title {
                    margin: 0 0 60px 0;

                    h2 {
                        &::before,
                        &::after {
                            width: 50px;
                            height: 4px;
                        }

                        &::after {
                            margin-top: 8px;
                            width: 25px;
                        }
                    }
                }
            }
            .col_end {
                height: 60px;
            }
        }
    }

    .home {
        .row {
            position: relative;
            margin: 0;
            top: 3px;
            .home-info {
                .home-title {
                    position: static;
                    span.name {
                        position: static;
                        top: 0;
                        display: inline;
                    }
                }

                .home-card {
                    .home-card-content {
                        &_description {
                            .quote-description {
                                margin: 1em 0 0 7px;
                            }
                        }
                        .content-inner {
                            padding: 1em 0 0 7px;
                            margin: 0;
                        }
                    }
                }
            }

            .blockImg {
                max-height: 400px;
            }
        }
    }
    .bgDraw2 {
        width: calc(100% - 0.625em);
        height: 16.1vh;
        bottom: 6.14%;
        .tsparticles2,
        #tsparticles2 {
            width: 100% !important;
            height: 100% !important;
            bottom: 0 !important;
            left: 0 !important;
        }
    }
    .aside {
        .logo {
            a {
                font-size: 30px;
                letter-spacing: 5px;
                span {
                    font-size: 40px;
                }

                &::before {
                    width: 22.5px;
                    height: 22.5px;
                    border-bottom: 5px solid var(--skin-color);
                    border-left: 5px solid var(--skin-color);
                }

                &::after {
                    width: 22.5px;
                    height: 22.5px;
                    border-top: 5px solid var(--skin-color);
                    border-right: 5px solid var(--skin-color);
                }
            }
        }
    }
    .modal {
        .content {
            width: calc(100% - 120px);
            margin: auto;
            #modalPortfolio {
                .modalPortfolio-description {
                    max-height: inherit;

                    margin-bottom: 12px;

                    h4.jobTitle {
                        font-size: 16px;
                    }
                    p.timeline-anime,
                    a {
                        font-size: 14px;
                    }
                    .link {
                        span.button {
                            a {
                                font-size: 16px !important;
                            }
                        }
                    }
                    ul {
                        li.ul-anime {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
