/* About */
@import "../../assets/styles/main.scss";
.about {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    color: var(--text-black-900);
    position: relative;
    &-content {
        flex: 0 0 87.47130206625124%;
        max-width: 87.47130206625124%;
        & .about-text {
            @include flex_100;
            & h3 {
                font-size: 1.5em;
                margin-bottom: 0.937em;
                font-weight: 700;
                color: var(--text-black-900);
                & span {
                    color: var(--skin-color);
                }
            }
            & p {
                font-size: 1em;
                line-height: 1.5625em;
                color: var(--text-black-700);
            }
        }
        .row {
            @include row_R;
            justify-content: center;

            & .personal-info {
                @include row_R;
                gap: 0;
                flex: 0 0 60.69645785503444%;
                max-width: 60.69645785503444%;
                margin: 2.5em 0 0 0;
                & .info-item {
                    flex: 0 0 50%;
                    max-width: 50%;
                    & p {
                        font-weight: 600;
                        font-size: 1em;
                        color: var(--text-black-900);
                        border-bottom: 1px solid var(--bg-black-50);
                        padding: 0.625em 0;
                        & span {
                            font-weight: 400;
                            color: var(--text-black-700);
                            display: inline-block;
                            margin-left: 0.25em;
                        }
                    }
                }
                & .buttons {
                    margin-top: 1.875em;
                    & .btn {
                        margin: 0.625em 0.937em 0 0;
                    }
                }
            }
        }
        & .skills {
            flex: 0 0 35.69645785503444%;
            max-width: 35.69645785503444%;
            margin-top: 1.5625em;
            & .skill-item {
                @include flex_100;
                margin-bottom: 1.875em;
                & h5 {
                    font-size: 1em;
                    font-weight: 600;
                    line-height: 2.5em;
                    color: var(--text-black-900);
                    text-transform: capitalize;
                }
                & .progress {
                    position: relative;
                    width: 100%;
                    height: 0.4375em;
                    background-color: var(--bg-black-50);
                    border-radius: 0.25em;
                    & .progress-in {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        background-color: var(--skin-color);
                        @include border-radius(0.25em);
                    }
                    & .skill-percent {
                        position: absolute;
                        right: 0;
                        top: -2.5em;
                        font-weight: 400;
                        line-height: 2.5em;
                        color: var(--text-black-900);
                    }
                }
            }
        }

        .row_timeLine {
            @include row_R;
            justify-content: center;
            & .experience {
                flex: 0 0 48.19645785503444%;
                max-width: 48.19645785503444%;
                margin-top: 1.875em;
                & h3.title {
                    font-size: 1.5em;
                    font-weight: 700;
                    color: var(--text-black-900);
                    margin-bottom: 1.875em;
                }
            }
        }

        & .timeline-box {
            @include flex_100;
        }

        & .timeline {
            position: relative;
            width: 100%;
            padding: 1.875em 0.937em;
            background-color: var(--bg-black-100);
            border: 0.0625em solid var(--bg-black-50);
            @include border-radius(0.937em);
            & .timeline-item {
                position: relative;
                padding: 0 1.1562em 3.125em 2.3125em; // 50px

                &:last-child {
                    padding-bottom: 0;
                }

                &::before {
                    @include after_Before;
                    width: 0.0625em; // 1px
                    height: 100%;
                    background-color: var(--skin-color);
                    left: 0.4375em; // 7px
                }

                & .circle-dot {
                    @include after_Before;
                    width: 0.937em; /* 15px / 16px = 0.9375em */
                    height: 0.937em; /* 15px / 16px = 0.9375em */
                    border-radius: 50%;
                    background-color: var(--skin-color);
                }

                & .timeline-date {
                    font-size: 0.875em; /* 14px / 16px = 0.875em */
                    font-weight: 400;
                    color: var(--text-black-700);
                    margin-bottom: 0.75em;
                    & .fa {
                        margin-right: 0.3125em; // 5px
                    }
                }

                & .timeline-title {
                    font-size: 1.125em; /* 18px / 16px = 1.125em */
                    font-weight: 700;
                    text-transform: capitalize;
                    color: var(--skin-color);
                    color: var(--text-black-900);
                    margin-bottom: 0.937em; /* 15px / 16px = 0.9375em */
                }

                & .timeline-text {
                    display: flex;
                    flex-flow: column wrap;
                    width: 100%;

                    font-size: 1em;
                    line-height: 1.5625em;
                    color: var(--text-black-700);
                    transition: transform 1.3s ease-in-out;

                    cursor: pointer;

                    .jobTitle {
                        font-size: 1em;
                        font-weight: 400;
                    }
                    &_add {
                        .bd_Bottom {
                            @include after_Before;
                            width: 100%;
                            border-bottom: 1px solid var(--bg-black-50);
                            .fa-Circle {
                                float: right;
                                @include row_R;
                                width: 1.5625em;
                                height: 1.5625em;
                                justify-content: center;
                                align-items: center;

                                bottom: -0.75em;

                                @include border-radius(50%);
                                background: var(--bg-black-50);
                                i {
                                    display: block;
                                    font-size: 0.78125em;
                                    color: var(--bg-black-100);
                                }
                            }
                        }
                    }
                    .bd_Last {
                        width: 100%;
                        position: relative;
                        border-bottom: 1px solid var(--bg-black-50);
                        top: 2px;
                    }
                    .close {
                        display: none;
                    }
                    .open {
                        min-width: 100%;
                        padding: 0;
                        margin: 0;
                        transform-origin: top;
                        -webkit-animation: openColse 0.45s ease-in-out;
                        animation: openColse 0.45s ease-in-out;
                    }
                    h4.jobTitle {
                        @include flex_100;
                        position: relative;
                    }
                    .technologies {
                        float: right;
                        display: flex;
                        align-items: center;
                        margin-right: 2em;
                        padding: 0.625em 0 0 0;

                        font-size: 1em;
                        font-weight: 400;
                        img {
                            display: block;
                            height: 1.2em;
                            object-fit: contain;
                            padding: 0 0.19em;
                            @include drop-shadow(2px 3px rgba(0, 0, 0, 0.25));
                            @include transition(all, 0.3s, ease);
                            &:hover {
                                @include transform(scale(1.2));
                            }
                        }
                    }
                    div.div-anime {
                        @include transition(all, 0.3s, ease);

                        .close {
                            display: none;
                            transform: scale(0);
                        }
                        .open {
                            min-width: 100%;
                            padding: 0;
                            margin: 0;
                            animation: openColse2 0.15s ease-in-out;
                            display: block;
                            // border: 1px solid #000;
                            -webkit-animation: openColse2 0.15s ease-in-out;
                        }
                        p.timeline-anime {
                            @include transition(all, 0.3s, ease);
                            height: 0;
                            opacity: 0;
                            color: transparent;
                            font-weight: 600;
                            line-height: 1.5625em;
                            // padding: 1em 0;
                            margin: 1.5625em 0 0.625em 0;
                            // margin: 0.312em 0 0.625em 0;
                            .close {
                                display: none;
                            }
                            &.open {
                                height: auto;
                                opacity: 1;
                                color: var(--bg-black-700);

                            }
                        }
                        ul {
                            li.ul-anime {
                                // transition: transform 0.2s ease-in-out;
                                margin: 0 0 0.3906em 0;
                                font-family: "Poppins", sans-serif;
                                font-size: 1em;
                                line-height: 1.5625em;
                                color: var(--text-black-700);
                                i {
                                    color: var(--text-black-500);
                                    color: var(--skin-color);
                                    margin-right: 0.5em;
                                }
                                .close {
                                    display: none;
                                }
                                &.open {
                                    -webkit-animation: openColse2 0.2s
                                        ease-in-out;
                                    animation: openColse2 0.2s ease-in-out;
                                    &::before {
                                        // Code Unicode de l'icône (par exemple, Font Awesome)
                                        font-family: "Font Awesome";
                                        // Espacement entre l'icône et le texte
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@keyframes openColse {
    0% {
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        // color: var(--bg-black-50);
    }
    33% {
        transform: scaleY(0.5);
    }
    50% {
        opacity: 0.33;
        transform: scaleY(1);
    }
    100% {
        opacity: 1;
        // color: var(--text-black-700);
    }
}
@keyframes openColse2 {
    0% {
        transform-origin: top;
        transform: scaleY(0);

        // color: var(--bg-black-50);
    }
    33% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1);
    }
}
