/* About */
@import "../../assets/styles/00_utils/3_mixins";
@import "../../assets/styles/00_utils/4_fonts";

.about {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    // color: var(--text-black-900);
    position: relative;
    &-content {
        // flex: 0 0 87.47130206625124%;
        // max-width: 87.47130206625124%;
        & .about-text {
            @include flex_100;
            & h3 {
                margin-bottom: 1.25em;
                @include h3;
                & span {
                    color: var(--skin-color);
                }
            }
            & p {
                @include p;
            }
        }
        .row {
            @include row_R;
            justify-content: center;

            & .personal-info {
                @include row_R;
                gap: 0;
                flex: 0 0 60.69645785503444%;
                max-width: 60.69645785503444%;
                margin: 2.5em 0 0 0;
                & .info-item {
                    flex: 0 0 50%;
                    max-width: 50%;
                    & p {
                        border-bottom: 1px solid var(--bg-black-50);
                        padding: 0.625em 0;
                        padding: 0.7em 0;
                        @include h5;
                        // line-height: 2em;
                        & span {
                            @include p;
                            margin-left: 0.25em;
                        }
                    }
                }
                & .buttons {
                    margin-top: 0.795em;
                    & .btn {
                        margin: 3em 0.937em 0 0;
                    }
                }
            }
        }
        & .skills {
            flex: 0 0 35.69645785503444%;
            max-width: 35.69645785503444%;
            margin-top: 2.5em;
            & .skill-item {
                @include flex_100;
                margin-bottom: 1.5625em;
                & h4 {
                    @include h5;
                    line-height: 2.75em;
                }
                & .progress {
                    position: relative;
                    width: 100%;
                    height: 0.4375em;
                    background-color: var(--bg-black-50);

                    & .progress-in {
                        @include after_Before;
                        height: 100%;
                        @include border-radius(0.25em);
                        background-color: var(--skin-color);
                    }
                    & .skill-percent {
                        position: absolute;
                        right: 0;
                        top: -2.5em;
                        line-height: 2.5em;
                        color: var(--text-black-900);
                    }
                }
            }
        }

        .row_timeLine {
            @include row_R;
            justify-content: center;
            & .experience {
                flex: 0 0 48.19645785503444%;
                max-width: 48.19645785503444%;
                margin-top: 3.7185em;
                & h3.title {
                    @include h3;
                    margin-bottom: 1.1875em;
                    // margin-bottom: 1.7815em;
                }
            }
        }

        & .timeline-box {
            @include flex_100;
        }

        & .timeline {
            position: relative;
            width: 100%;
            padding: 1.875em 0.937em;
            background-color: var(--bg-black-100);
            border: 0.0625em solid var(--bg-black-50);
            // border: 0.0625em solid #292929;

            @include border-radius(0.937em);
            box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
            & .timeline-item {
                position: relative;
                padding: 0 1.1562em 3.125em 2.3125em; // 50px

                &:last-child {
                    padding-bottom: 0;
                }

                &::before {
                    @include after_Before;
                    width: 1px;
                    height: 100%;
                    background-color: var(--skin-color);
                    left: 0.4375em; // 7px
                }

                & .circle-dot {
                    @include after_Before;
                    width: 0.937em; /* 15px / 16px = 0.9375em */
                    height: 0.937em; /* 15px / 16px = 0.9375em */
                    border-radius: 50%;
                    background-color: var(--skin-color);
                }

                & .timeline-date {
                    @include p_min;
                    margin-bottom: 0.75em;
                }

                & h4.timeline-title {
                    @include h4;
                    margin-bottom: 0.937em; /* 15px / 16px = 0.9375em */
                }

                & .timeline-text {
                    display: flex;
                    flex-flow: column wrap;
                    width: 100%;
                    @include p;
                    transition: transform 1.3s ease-in-out;

                    cursor: pointer;

                    .jobTitle {
                    }
                    &_add {
                        .bd_Bottom {
                            @include after_Before;
                            width: 100%;
                            border-bottom: 1px solid var(--bg-black-50);
                            .fa-Circle {
                                float: right;
                                @include row_R;
                                width: 1.5625em;
                                height: 1.5625em;
                                justify-content: center;
                                align-items: center;

                                bottom: -0.75em;

                                @include border-radius(50%);
                                background: var(--bg-black-50);
                                i {
                                    display: block;
                                    font-size: 0.78125em;
                                    color: var(--bg-black-100);
                                }
                            }
                        }
                    }
                    .bd_Last {
                        width: 100%;
                        position: relative;
                        border-bottom: 1px solid var(--bg-black-50);
                        top: 2px;
                    }
                    .close {
                        display: none;
                    }
                    .open {
                        min-width: 100%;
                        padding: 0;
                        margin: 0;
                        transform-origin: top;
                        -webkit-animation: openClose 0.45s ease-in-out;
                        animation: openClose 0.45s ease-in-out;
                    }
                    h4.jobTitle {
                        @include flex_100;
                        position: relative;
                        font-size: 1em;
                        font-weight: 400;
                    }

                    div.div-anime {
                        @include transition(all, 0.5s, ease);

                        .technologies {
                            float: right;
                            display: flex;
                            align-items: center;
                            margin-right: 2em;
                            padding: 0.625em 0 0 0;

                            font-size: 1em;
                            font-weight: 400;
                            img {
                                display: block;
                                height: 1.2em;
                                object-fit: contain;
                                padding: 0 0.19em;
                                @include drop-shadow(
                                     rgba(0, 0, 0, 0.25) 3px 1.5px 1.5px
                                );
                                @include transition(all, 0.3s, ease);
                                &:hover {
                                    @include transform(scale(1.2));
                                }
                            }
                        }
                        .close {
                            display: none;
                            transform: scale(0);
                        }
                        .open {
                            min-width: 100%;
                            padding: 0;
                            margin: 0;

                            display: block;

                            -webkit-animation: openClose2 0.15s ease-in-out;
                            animation: openClose2 0.15s ease-in-out;
                        }
                        p.timeline-anime {
                            @include transition(all, 0.3s, ease);

                            font-weight: 600;
                            line-height: 1.5625em;
                            color: var(--bg-black-700);
                            margin: 1.5625em 0 0.625em 0;
                            .close {
                                display: none;
                            }
                            &.open {
                                height: auto;
                                opacity: 1;
                            }
                        }
                        ul {
                            li.ul-anime {
                                transition: transform 0.2s ease-in-out;
                                margin: 0 0 0.3906em 0;
                                font-family: "Poppins", sans-serif;
                                font-size: 1em;
                                line-height: 1.5625em;
                                color: var(--text-black-700);
                                width: 100%;
                                i {
                                    color: var(--text-black-500);
                                    color: var(--skin-color);
                                    margin-right: 0.5em;
                                }
                                .close {
                                    display: none;
                                }
                                &.open {
                                    -webkit-animation: openClose2 0.2s
                                        ease-in-out;
                                    animation: openClose2 0.2s ease-in-out;
                                    &::before {
                                        // Code Unicode de l'icône (par exemple, Font Awesome)
                                        font-family: "Font Awesome";
                                        // Espacement entre l'icône et le texte
                                    }
                                }
                            }
                        }
                    }
                }
                .close {
                    -webkit-animation: closeOpen 0.45s ease-in-out;
                    animation: closeOpen 0.45s ease-in-out;
                    opacity: 0;
                }
                .open {
                    opacity: 1;
                    min-width: 100%;
                    padding: 0;
                    margin: 0;
                    transform-origin: top;
                    -webkit-animation: openClose 0.45s ease-in-out;
                    animation: openClose 0.45s ease-in-out;
                }
            }
        }
    }
}
@keyframes openClose {
    0% {
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        // color: var(--bg-black-50);
    }
    33% {
        transform: scaleY(0.5);
    }
    50% {
        opacity: 0.33;
        transform: scaleY(1);
    }
    100% {
        opacity: 1;
        // color: var(--text-black-700);
    }
}
@keyframes closeOpen {
    0% {
        transform: scaleY(1);

        // color: var(--bg-black-50);
    }
    33% {
        transform: scaleY(0.5);
    }
    100% {
        transform-origin: top;
        transform: scaleY(0);
    }
}
