/* About */
.about {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    color: var(--text-black-900);
    position: relative;

    &-content {
        flex: 0 0 87.47130206625124%;
        max-width: 87.47130206625124%;

        & .about-text {
            flex: 0 0 100%;
            max-width: 100%;

            & h3 {
                font-size: 1.5em; /* 24px / 16px = 1.5em */
                margin-bottom: 0.937em; /* 15px / 16px = 0.9375em */
                font-weight: 700;
                color: var(--text-black-900);

                & span {
                    color: var(--skin-color);
                }
            }

            & p {
                font-size: 1em;
                line-height: 1.5625em; /* 25px / 16px = 1.5625em */
                color: var(--text-black-700);
            }
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            flex-flow: row wrap;
            // padding: 0 4.6875vw;
            position: relative;

            justify-content: center;
            gap: 3.607084289931125%;
            & .personal-info {
                display: flex;
                flex-wrap: wrap;
                flex: 0 0 60.69645785503444%;
                max-width: 60.69645785503444%;
                margin: 2.5em 0 0 0; /* 40px / 16px = 2.5em */

                & .info-item {
                    flex: 0 0 50%;
                    max-width: 50%;

                    & p {
                        font-weight: 600;
                        font-size: 1em;
                        color: var(--text-black-900);
                        border-bottom: 1px solid var(--bg-black-50);
                        padding: 0.625em 0; /* 10px / 16px = 0.625em */

                        & span {
                            font-weight: 400;
                            color: var(--text-black-700);
                            display: inline-block;
                            margin-left: 0.25em; /* 4px / 16px = 0.25em */
                        }
                    }
                }

                & .buttons {
                    margin-top: 1.875em; /* 30px / 16px = 1.875em */

                    & .btn {
                        margin: 0.625em 0.937em 0 0; /* 10px / 16px = 0.625em, 15px / 16px = 0.9375em */
                    }
                }
            }
        }

        & .skills {
            flex: 0 0 35.69645785503444%;
            max-width: 35.69645785503444%;
            margin-top: 1.5625em; /* 25px / 16px = 1.5625em */
            // margin: 2.5em 0 0 0;

            & .skill-item {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 1.875em; /* 30px / 16px = 1.875em */

                & h5 {
                    font-size: 1em;
                    font-weight: 600;
                    line-height: 2.5em; /* 40px / 16px = 2.5em */
                    color: var(--text-black-900);
                    text-transform: capitalize;
                }

                & .progress {
                    position: relative;
                    width: 100%;
                    height: 0.4375em; /* 7px / 16px = 0.4375em */
                    background-color: var(--bg-black-50);
                    border-radius: 0.25em; /* 4px / 16px = 0.25em */

                    & .progress-in {
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-radius: 0.25em;
                        height: 100%;
                        background-color: var(--skin-color);
                    }

                    & .skill-percent {
                        position: absolute;
                        right: 0;
                        top: -2.5em; /* 40px / 16px = 2.5em */
                        font-weight: 400;
                        line-height: 2.5em; /* 40px / 16px = 2.5em */
                        color: var(--text-black-900);
                    }
                }
            }
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            flex-flow: row wrap;
            // padding: 0 4.6875vw;
            position: relative;
            // border: 1px solid #000;
            justify-content: center;
            gap: 3.607084289931125%;
            & .experience {
                flex: 0 0 48.19645785503444%;
                max-width: 48.19645785503444%;
                margin-top: 1.875em; /* 30px / 16px = 1.875em */
                & h3.title {
                    font-size: 1.5em; /* 24px / 16px = 1.5em */
                    font-weight: 700;
                    color: var(--text-black-900);
                    margin-bottom: 1.875em; /* 30px / 16px = 1.875em */
                }
            }
        }

        & .timeline-box {
            flex: 0 0 100%;
            max-width: 100%;
        }

        & .timeline {
            position: relative;
            width: 100%;
            padding: 1.875em 0.937em;
            /*30px/16px=1.875em,15px/16px=0.9375em*/
            background-color: var(--bg-black-100);
            border: 0.0625em solid var(--bg-black-50);
            border-radius: 0.937em;
            & .timeline-item {
                position: relative;
                padding: 0 1.1562em 3.125em 2.3125em; /* 50px / 16px = 3.125em, 37px / 16px = 2.3125em */

                &:last-child {
                    padding-bottom: 0;
                }

                &::before {
                    content: "";
                    width: 0.0625em; /* 1px / 16px = 0.0625em */
                    height: 100%;

                    background-color: var(--skin-color);

                    position: absolute;
                    top: 0;
                    left: 0.4375em; /* 7px / 16px = 0.4375em */
                }

                & .circle-dot {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0.937em; /* 15px / 16px = 0.9375em */
                    height: 0.937em; /* 15px / 16px = 0.9375em */
                    border-radius: 50%;
                    background-color: var(--skin-color);
                }

                & .timeline-date {
                    font-size: 0.875em; /* 14px / 16px = 0.875em */
                    font-weight: 400;
                    color: var(--text-black-700);
                    margin-bottom: 0.75em; /* 12px / 16px = 0.75em */

                    & .fa {
                        margin-right: 0.3125em; /* 5px / 16px = 0.3125em */
                    }
                }

                & .timeline-title {
                    font-size: 1.125em; /* 18px / 16px = 1.125em */
                    font-weight: 700;
                    text-transform: capitalize;
                    color: var(--text-black-900);
                    margin-bottom: 0.937em; /* 15px / 16px = 0.9375em */
                }

                & .timeline-text {
                    font-size: 1em;
                    line-height: 1.5625em; /* 25px / 16px = 1.5625em */
                    color: var(--text-black-700);
                    transition: transform 1.3s ease-in-out;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    // border: 1px solid #000;
                    width: 100%;
                    // .close {
                    //     display: none;
                    // }
                    // .open {
                    //     animation: openColse 0.45s ease-in-out;
                    //     transform-origin: top;
                    //     min-width: 100%;
                    //     padding: 0;
                    //     margin: 0;
                    //     //transform: scale(1);
                    //     -webkit-animation: openColse 0.45s ease-in-out;
                    //     border: 1px solid #000;
                    // }
                    h4 {
                        display: block;
                        flex: 1;
                        // border: 1px solid #000;
                        width: 100%;
                        min-width: 200px;
                    }
                    .technologies {
                        // flex: 1;
                        display: flex;
                        align-items: center;
                        // justify-content: center;
                        // max-height: 20px;
                        margin-left: 1em;
                        width: auto;
                        // float: right;
                        // text-align: center;
                        // border: 1px solid #000;
                        // background: var(--skin-color);
                        // padding: 0 0.19em;
                        width: 100%;
                        img {
                            display: block;
                            //width: auto;
                            height: 1.2em;
                            //max-height: 2em;
                            //min-height: 2em;
                            object-fit: contain;
                            padding: 0 0.19em;
                            -webkit-filter: drop-shadow(
                                2px 3px rgba(0, 0, 0, 0.25)
                            );
                            filter: drop-shadow(2px 3px rgba(0, 0, 0, 0.25));
                            &:hover {
                                -webkit-filter: grayscale(0%);
                                filter: grayscale(0%);
                            }
                        }
                    }
                }
            }

            div.div-anime {
                transition: transform 0.3s ease-in-out;
                .close {
                    display: none;
                    transform: scale(0);
                }
                .open {
                    min-width: 100%;
                    padding: 0;
                    margin: 0;
                    animation: openColse2 0.15s ease-in-out;
                    display: block;
                    // border: 1px solid #000;
                    -webkit-animation: openColse2 0.15s ease-in-out;
                }
                p.timeline-anime {
                    transition: transform 0.3s ease-in-out;
                    height: 0;
                    opacity: 0;
                    color: transparent;
                    .close {
                        display: none;
                    }
                    &.open {
                        // animation: openColse 0.3s ease-in-out;
                        // color: red;
                        height: auto;
                        opacity: 1;
                        color: var(--bg-black-700);
                        font-weight: 600;
                        text-align: justify;
                    }
                }
                ul {
                    li.ul-anime {
                        // transition: transform 0.2s ease-in-out;

                        .close {
                            display: none;
                        }
                        &.open {
                            -webkit-animation: openColse2 0.2s ease-in-out;
                            animation: openColse2 0.2s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}
@keyframes openColse {
    0% {
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        // color: var(--bg-black-50);
    }
    33% {
        transform: scaleY(0.5);
    }
    50% {
        opacity: 0.33;
        transform: scaleY(1);
    }
    100% {
        opacity: 1;
        // color: var(--text-black-700);
    }
}
@keyframes openColse2 {
    0% {
        transform-origin: top;
        transform: scaleY(0);

        // color: var(--bg-black-50);
    }
    33% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1);
    }
}
