.loader-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 11111111;
}

@keyframes rotate {
    0% {

        transform: rotate(0deg);
    }

    100% {

        transform: rotate(360deg);
    }
}

.loading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: calc(50vh - 12.5vw);
    width: 25vw;
    height: 25vw;
    animation: rotate 2s infinite linear reverse;
    transition: all 2s linear;
    box-sizing: border-box;
}
.loaderCircle {
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}
/*****************************************************/