/* aside */

// .aside {
//     position: absolute;
//     top: 50px;
//     min-width: 210px;
//     padding: 10px;
//     border-radius: 15px;

//     img {
//         max-width: 200px;
//         display: block;
//         -webkit-filter: drop-shadow(3px 3px 1.5px rgba(0, 0, 0, 0.45));
//         filter: drop-shadow(3px 3px 1.5px rgba(0, 0, 0, 0.45));
//     }
// }
/* Logo Wii-Design.com End */

.aside {
    width: 270px;
    height: 100%;
    padding: 30px;
    border-right: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
        position: absolute;
        top: 50px;
        text-align: center;
        text-transform: capitalize;

        a {
            color: var(--text-black-900);
            font-weight: 700;
            padding: 15px 20px;
            font-size: 30px;
            letter-spacing: 5px;

            span {
                font-family: "Clicker Script", cursive;
                font-size: 40px;
            }

            &::before {
                content: "";
                width: 20px;
                height: 20px;
                border-bottom: 5px solid var(--skin-color);
                border-left: 5px solid var(--skin-color);
                position: absolute;
                bottom: 0;
                left: 0;
            }

            &::after {
                content: "";
                width: 20px;
                height: 20px;
                border-top: 5px solid var(--skin-color);
                border-right: 5px solid var(--skin-color);
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    .nav-toggler {
        position: fixed;
        top: 20px;
        left: 300px;
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 40px;
        border: 1px solid var(--bg-black-50);
        border-radius: 5px;
        background: var(--bg-black-100);

        span {
            position: relative;
            display: inline-block;
            width: 18px;
            height: 2px;
            background: var(--skin-color);

            &::before {
                position: absolute;
                top: -6px;
                left: 0;
                content: "";
                width: 18px;
                height: 2px;
                background: var(--skin-color);
            }

            &::after {
                position: absolute;
                top: 6px;
                left: 0;
                content: "";
                width: 18px;
                height: 2px;
                background: var(--skin-color);
            }
        }
    }
    .flag {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        // left: 0px;
        top: -35px;
        // border: 1px solid #000;
        width: 100%;

        .flagLogo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            padding: 5px;
            //margin: 0 10px;
            //border-radius: 50%;
            //border: 1px solid var(--bg-black-50);
            //font-size: 1em;
            //line-height: 20px;
            //font-weight: 600;
            ////text-align: center;
            //color: var(--text-black-700);
            //padding: 5px 15px;
            ////border-bottom: ;
            cursor: pointer;

            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            &:hover {
                -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
            }
        }
    }
    .nav {
        margin-top: 50px;

        li {
            margin-bottom: 20px;
            display: block;

            a {
                display: block;
                font-size: 1em;
                font-weight: 600;
                color: var(--text-black-900);
                padding: 5px 15px;
                border-bottom: 1px solid var(--bg-black-50);

                &.active-link {
                    color: var(--skin-color);
                }

                i {
                    margin-right: 15px;
                }
            }
        }
    }
}
