@import "../../assets/styles/00_utils/3_mixins";

.flag {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-bottom: 0.0625em solid var(--bg-black-50);
    &:hover {
        #lang {
            color: var(--skin-color);
        }
        .color-icon {
            fill: var(--skin-color);
        }
    }
    .language-menu {
        display: flex;
        position: absolute;
        top: 3.5625em;
        width: 11.5em;
        height: 3.515625em;
        @include transform(translateX(-12.5em) scaleY(0));
        opacity: 0;
        padding: 1.40625em 1.40625em;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }
    .flagLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.171875em;
        height: 1.171875em;
        margin: auto;
        cursor: pointer;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

        &:hover,
        &.active {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }
    &.open .language-menu {
        opacity: 1;
        transition: all 0.3s ease-in-out;
        @include transform(translateX(0px) scaleY(1));
    }
    &.close .language-menu {
        opacity: 1;
        transition: all 0.3s ease-in-out;
        @include transform(translateX(-12.5em) scaleY(0));
    }
}
