@import "../../assets/styles/00_utils/3_mixins";

.lang-icon {
    max-width: 59.0625px;
    color: var(--text-black-900);
    &:hover {
        fill: var(--skin-color);
    }
}
.lang {
    flex: 2;
    min-width: 90px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-900);
    margin: 0;
}
.flag {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    &:hover {
        .lang {
            color: var(--skin-color);
        }
        .color-icon {
            fill: var(--skin-color);
        }
    }
}

.language-menu {
    display: flex;
    position: absolute;
    top: 57px;
    @include transform(translateX(-200px) scaleY(0));
    opacity: 0;
    // border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.3s ease-in-out;

}

.flagLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    &:hover,
    &.active {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.flag.open .language-menu {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    @include transform(translateX(0px) scaleY(1));
}
.flag.close .language-menu {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    @include transform(translateX(-200px) scaleY(0));
}
