@import "../../assets/styles/00_utils/4_fonts";
@import "../../assets/styles/00_utils/1_variables";
@import "../../assets/styles/00_utils/2_functions";
@import "../../assets/styles/00_utils/3_mixins";

.btn,
a.btn_a {
    border: none;
    display: inline-flex;
    // align-items: center;
    // justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    @include p;
    line-height: 1.5em;
    color: white;

    padding: 12px 35px 12px 35px;
    border-radius: 40px;

    transition: all 0.3s ease;

    position: relative;
    z-index: 1;
    cursor: pointer;

    -webkit-font-smoothing: antialiased;
    // box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    margin: 30px 0 58px 7px;
    background: linear-gradient(
        -193.33deg,
        var(--skin-color-light) 0%,
        var(--skin-color) 50%,
        var(--skin-color-dark) 100%
    );

    &:hover {
        transform: scale(1.05);
        transform-origin: center;
        text-decoration: none;

        &::after {
            opacity: 1;
            background-color: white;
            padding: 15px 35px 15px 35px;
            // transition: all 300ms;
            transition: all 450ms;
            // -webkit-font-smoothing: antialiased;
        }
    }
    &:visited {
        color: $color-white;
    }

    &::after {
        @include after_Before;
        @include p;
        line-height: 1.575em;
        // padding: 13.5px 35px 13.5px 35px;

        text-decoration: none;
        border: none;
        border-radius: 40px;
        z-index: -1;
        opacity: 0;
        -webkit-font-smoothing: antialiased;
        background: linear-gradient(
            -193.33deg,
            var(--skin-color-dark) 0%,
            var(--skin-color) 50%,
            var(--skin-color-light) 100%
        );
        background: linear-gradient(
            -193.33deg,
            var(--skin-color-light) 0%,
            var(--skin-color) 50%,
            var(--skin-color-dark) 100%
        );
        // background: #000;
        box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.35);
        transition: all 450ms;
    }
}


.btn_left {
    margin: 3em 0.937em 0 0;
}
