@import "../../assets/styles/00_utils/4_fonts";
@import "../../assets/styles/00_utils/1_variables";
@import "../../assets/styles/00_utils/2_functions";

.btn {
    // font-size: 1em;
    // font-weight: 700;
    @include h5;
    padding: 12px 35px;
    color: var(--bg-black-100);
    color: white;
    display: inline-block;
    white-space: nowrap;
    background-color: var(--skin-color);
    border-radius: 40px;
    transition: all 0.3s ease;
    border: none;

    &:hover {
        transform: scale(1.05);
    }
}
.hire-me {
    margin-bottom: 10px;
}
