#canvas {
    width: 1000px;
    height: 1000px;
    background: red;
    // color: #000;
}
// .main-content {
// }
// html,
// body {
//     height: 100%;
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     background: wheat;
// }

// #particle-canvas {
//     width: 100%;
//     height: 500px;
//     border: 1px solid #000;
// }
