/****** Fonts ******/

@mixin h2 {
    font-size: 2.5em; /* 40px / 16px */
    font-weight: 700;
    color: var(--text-black-900);
}

@mixin h3 {
    font-size: 1.5em; /* 24px / 16px */
    font-weight: 700;
    color: var(--text-black-900);
}

@mixin h4 {
    font-size: 1.125em; /* 18px / 16px */
    font-weight: 700;
    color: var(--text-black-900);
}
@mixin h5 {
    font-size: 1em; /* 16px / 16px */
    font-weight: 600;
    color: var(--text-black-900);
}

@mixin p {
    font-size: 1em; /* 16px / 16px */
    line-height: 1.5625em;
    font-weight: 400;
    color: var(--text-black-700);
}
@mixin p_min {
    font-size: 0.875em; /* 14px / 16px */
    font-weight: 400;
    color: var(--text-black-700);
    & .fa {
        margin-right: 0.3125em; // 5px
    }
}
