/* Home */
.home {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    color: var(--text-black-900);
    .row {
        flex-flow: row nowrap;
        justify-content: center;
        gap: 1.607084289931125%;

        .blockInfo {
            display: flex;
            justify-content: center;
            width: 53.06657920629715%;
            .home-info {
                width: 100%;
                // max-width: 709.5px;
                // background: blue;
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                justify-content: space-between;
                height: 400px;
                max-height: 400px;

                h3.hello {
                    font-size: 28px;
                    margin: 10px 0 0 0;

                    span {
                        font-family: "Clicker Script", cursive;
                        font-size: 30px;
                        font-weight: 700;
                        color: var(--skin-color);
                    }
                }

                h3.my-profession {
                    font-size: 30px;
                }

                .typing {
                    color: var(--skin-color);
                }

                p {
                    font-size: 20px;
                    color: var(--text-black-700);
                }
            }
        }

        .blockImg {
            display: flex;
            justify-content: center;
            width: 32.79763857002296%;
            position: relative;
            .bgDraw {
                position: absolute;
                width: 100%;
                height: 360px;
                // max-width: calc(100% - 225.39px);
                // left: 139.26px;
                top: 20px;
                // max-width: calc(100% - 40px);
                left: 20px;
                // height: 100%;
                // background: #000;
                // border: 1px solid #000;
                z-index: 0;
                .tsparticles  {
                    // max-width: 400px !important;
                    width: 100% !important;
                    height: 100% !important;
                    position: absolute !important; /* Changez "fixed" en "static" pour annuler la position fixe */
                    z-index: auto !important; /* Annulez la valeur du z-index */
                    top: auto !important; /* Annulez la valeur de top */
                    left: 0 !important; /* Annulez la valeur de left */
                    pointer-events: auto !important; /* Annulez la valeur de pointer-events */
                    // background-color: gray !important; /* Annulez la couleur de fond */
                }
            }
            .home-img {
                width: 100%;
                max-width: 473px;
                // min-width: 473px;
                max-height: 400px;
                z-index: 1;
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                padding: 0;

                .leftNB {
                    // content: "";
                    align-self: flex-start;
                    width: 139.26px;
                    height: 86.13px;
                    border-top: 10px solid var(--skin-color);
                    border-left: 10px solid var(--skin-color);
                    position: relative;
                    // top: 0px;
                    // left: 0px;
                }
                .centerNB {
                    min-width: 247.49px;
                    height: 400px;
                    // margin: 10px;
                    box-sizing: content-box;
                    position: relative;
                    z-index: 1;
                    // background: #000;
                    display: flex;
                    // top: 0px;
                    // left: 139.26px;
                }
                .rightNB {
                    // content: "";
                    align-self: flex-end;
                    float: right;
                    width: 86.13px;
                    height: 139.26px;
                    border-bottom: 10px solid var(--skin-color);
                    border-right: 10px solid var(--skin-color);
                    // position: absolute;
                    // bottom: 0px;
                    // right: 0px;
                }

                img {
                    align-self: center;
                    // height: 0px;
                    // max-width: 247.49px;
                    max-height: 360px;
                    // margin: auto;
                    border-radius: 5px;
                    // position: absolute;
                    // right: 87px;
                }
                #tsparticles {
                }
                #tsparticles {
                    width: 400px !important;
                    height: 250px !important;
                }
            }
        }
    }
}
