@import "../../assets/styles/00_utils/3_mixins";
@import "../../assets/styles/00_utils/1_variables";
@import "../../assets/styles/00_utils/2_functions";

.modal {
    position: fixed;
    width: calc(100vw - 270px); // 270px = header on left
    min-height: calc(100vh - 0px);
    // min-height: calc(100vh);

    top: 0;
    left: 270px; // 270px = header on left
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba-color($bg-black-900-light, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    .content {
        position: relative;
        top: 0px;
        overflow: hidden;
        margin-right: 1%;
        min-width: 300px;
        min-height: 100px;
        border-radius: 7px;
        width: 62.5%;
        @include drop-shadow(0 0 16px rgba(0, 0, 0, 0.15));
        button {
            position: absolute;
            top: 1.125em;
            left: calc(100% - 2.25em);
            border: none;
            background-color: transparent;

            &:hover {
                @include transform(scale(1.1));
            }
            svg {
                position: relative;
            }
            cursor: pointer;
        }
    }
}

