// #top {
//     width: 100%;
//     top: 0vh;
//     left: 0;
//     z-index: 100000000;
//     animation: gab 0.5s linear;
//     -webkit-animation: gab 0.5s linear;
// }

// @keyframes gab {
//     0% {
//         height: 100vh;
//     }
//     100% {
//         height: 0vh;
//     }
// }

#home {
    top: 0;
    animation: gab 0.45s linear;
    -webkit-animation: gab 0.45s linear;
}
@keyframes gab {
    0% {
        left: 100vw;
        top: -60px;
        opacity: 0;
    }
    100% {
        left: 0vw;
        top: 0;
    }
}
