/* Home */
@import "../../../assets//styles/00_utils/3_mixins";
@import "../../../assets//styles/00_utils/4_fonts";
.border-design,
.border-design2 {
    position: absolute;
    width: calc(100% + 3em);
    height: calc(100% - 1em);
    left: 0;
    bottom: 0;
    padding: 0 0 0 2em;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.border-design {
    @include drop-shadow(2px 3px 10px var(--text-black-900));
    border: 1px solid var(--bg-black-50);
    z-index: 1;
}
.border-design2 {
    z-index: 2;
    background-color: var(--bg-black-900);
}
.home {
    .row {
        justify-content: stretch;
        align-items: center;
        gap: 7.2%;
        height: auto;
        left: -2em;
        max-width: 66vw;
        padding: 0 0 0 2em;

        // border: 1px solid var(--bg-black-50);
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        // background: var(--bg-black-100);

        .home-info {
            z-index: 3;
            flex: 5;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: 100%;

            .home-title {
                font-size: 1.75em;
                margin: 1em 0 0 0;
                span.name {
                    font-family: "Clicker Script", cursive;
                    font-size: 1.5em;
                    font-weight: 700;
                    color: var(--skin-color);
                }
            }

            .home-card {
                align-self: flex-start;
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-end;
                justify-content: space-between;
                margin: 0;

                &_group {
                    margin: 1.25em 0;
                    width: 100%;
                    .presentation_title,
                    .presentation_typing {
                        font-size: 1.875em;
                        display: inline;
                    }
                    .typing {
                        display: inline;
                        color: var(--skin-color);
                    }
                }

                .home-card-content {
                    font-size: 1.25em;
                    color: var(--text-black-700);
                    overflow-wrap: break-word;
                    margin: 0 0 0 1em;
                    // border: 1px solid #000;

                    &_description {
                        position: relative;
                        .home-quote {
                            position: absolute;
                            display: inline-block;
                            width: 100%;
                            margin: 0.75em 0 0.675em;
                            .reverse {
                                transform: scaleX(-1) scaleY(1);
                                display: inline-block;
                                position: relative;
                                top: -0.52em;
                            }
                        }
                        .quote-description {
                            display: inline-block;

                            margin-top: 1em;
                        }
                    }
                    .content-inner {
                        padding: 1em;
                        &_description {
                            font-style: italic;
                        }
                        &_quote {
                            color: var(--text-black-700);
                            overflow-wrap: break-word;
                            font-style: italic;
                            // border-left: 2px solid #333;
                            padding: 10px;
                            padding-left: 20px;
                            // text-align: right;
                        }
                    }
                }
            }

            .hire-me {
                bottom: -25.5px;
                margin: 0;
                padding: 12.5px 35px;
            }
        }

        .blockImg {
            z-index: 3;
            align-items: center;
            display: flex;
            flex-flow: row;
            justify-content: center;
            flex: 3;
            position: relative;
            max-width: 752px;
            height: 100%;
            .home-img {
                width: 100%;

                z-index: 1;
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;

                border-top-right-radius: 20px;

                &::after {
                    @include after_Before;
                    top: -10px;
                    left: -10px;

                    width: 139.26px;
                    height: 86.13px;
                    border-top: 10px solid var(--skin-color);
                    border-left: 10px solid var(--skin-color);
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    right: -10px;

                    width: 86.13px;
                    height: 139.26px;
                    border-bottom: 10px solid var(--skin-color);
                    border-right: 10px solid var(--skin-color);
                }
                .leftNB,
                .rightNB {
                    flex: 1;
                    width: 100%;
                }
                .centerNB {
                    align-self: center;
                    flex: 5;
                    min-width: 247.49px;
                    height: 400px;
                    display: flex;
                    max-width: 314px;
                }
                img {
                    margin: auto;
                    position: relative;
                    align-self: center;
                    height: auto;
                    width: 100%;
                    top: 5px;
                    border-radius: 6px;
                }
            }
        }
    }
}
.bgDraw,
.bgDraw2 {
    position: absolute;
    left: 0px;
    z-index: 0;
    overflow: hidden;
    .tsparticles,
    .tsparticles2 {
        position: absolute !important;
        z-index: auto !important;
        pointer-events: auto !important;
    }
}
.bgDraw {
    width: calc(100%);
    height: 360px;
    top: 0px;
    .tsparticles {
        width: 600px !important;
        height: 300px !important;
        top: -140px !important;
        right: -195px !important;
        clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
.bgDraw2 {
    width: calc(100% - 10px);
    height: 16.1vh;
    bottom: 6.14%;
    // @include drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.15));
    .tsparticles2,
    #tsparticles2 {
        width: 100% !important;
        height: 100% !important;
        bottom: 0 !important; /* Annulez la valeur de top */
        left: 0 !important; /* Annulez la valeur de left */
    }
}
