/* Home */
@import "../../../assets//styles/00_utils/3_mixins";
@import "../../../assets//styles/00_utils/4_fonts";

.border-design,
.border-design2 {
    position: absolute;
    width: calc(100% + 0em);
    height: calc(100% - 0em);
    left: 0;
    bottom: 0;
    padding: 0 0 0 0.125em;
    border-bottom-left-radius: 1.25em;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
}
.cont {
    height: 100vh;
    width: 100%;

    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    top: 0;
}
.backgroundX {
    display: block;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.backgroundY {
    display: none;
    height: auto;
    width: 100%;
}
.border-design {
    @include drop-shadow(0.125em 0.1875em 0.625em var(--skin-color));
    border: 1px solid var(--bg-black-50);
    z-index: 1;
}
.border-design2 {
    z-index: 2;
    background-color: var(--bg-black-900);
}
.home {
    .row {
        justify-content: stretch;
        align-items: center;
        gap: 7.2%;
        height: auto;
        padding: 1.25em 0 0 2.5em;
        margin: auto;
        max-width: 100%;
        max-width: 66vw;

        border-bottom-left-radius: 1.25em;
        border-top-left-radius: 1.25em;
        border-top-right-radius: 1.25em;

        .home-info {
            z-index: 3;
            flex: 5;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space between;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            .home-title {
                @include h3;
                top: 0.275em;
                position: relative;
                width: 100%;
                word-spacing: 0.135em;
                span.name {
                    display: inline-block;
                    position: absolute;
                    top: -0.275em;
                    font-family: "Clicker Script", cursive;
                    font-size: 1.5em;
                    font-weight: 700;
                    color: var(--skin-color);
                    margin-left: 0.4em;
                    width: 50%;
                }
            }

            .home-card {
                align-self: flex-start;
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-end;
                justify-content: space-between;
                margin: 0;
                position: relative;
                // top: -0.75em;

                &_group {
                    margin: 1.25em 0;
                    width: 100%;
                    .presentation_title,
                    .presentation_typing {
                        @include h3;
                        display: inline;
                        word-spacing: 0.135em;
                    }
                    .typing {
                        display: inline;
                        color: var(--skin-color);
                    }
                }

                .home-card-content {
                    color: var(--text-black-700);
                    overflow-wrap: break-word;

                    &_description {
                        position: relative;
                        .home-quote {
                            position: absolute;
                            display: inline-block;
                            width: 100%;
                            .reverse {
                                transform: scaleX(-1) scaleY(1);
                                display: inline-block;
                                position: relative;
                                top: -0.52em;
                            }
                        }
                        .quote-description {
                            display: inline-block;
                            margin: 1em 0 0 1em;
                        }
                    }
                    .content-inner {
                        margin: 1em 0 0 1em;
                        &_description {
                            font-style: italic;
                        }
                        &_quote {
                            font-style: italic;
                            padding: 0.625em;
                            padding-left: 1.25em;
                        }
                    }
                }
            }

            .hire-me {
                bottom: -1.59375em;
                margin: 0;
                padding: 0.78125em 2.1875em;
            }
        }

        .blockImg {
            z-index: 3;
            align-items: center;
            display: flex;
            flex-flow: row;
            justify-content: center;
            flex: 3;
            position: relative;
            max-width: 47em;
            height: 100%;
            max-height: 21.125em;
            .home-img {
                width: 100%;
                z-index: 1;
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
                border-top-right-radius: 1.25em;
                &::after {
                    @include after_Before;
                    top: -0.625em;
                    left: -0.625em;
                    width: 8.7em;
                    height: 5.38375em;
                    border-top: 0.625em solid var(--skin-color);
                    border-left: 0.625em solid var(--skin-color);
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -0.3125em;
                    right: -0.625em;
                    width: 5.38375em;
                    height: 8.7em;
                    border-bottom: 0.625em solid var(--skin-color);
                    border-right: 0.625em solid var(--skin-color);
                }
                .leftNB,
                .rightNB {
                    flex: 1;
                    width: 100%;
                }
                .centerNB {
                    align-self: center;
                    flex: 5;
                    min-width: 15.46875em;
                    height: 25em;
                    display: flex;
                    max-width: 19.625em;
                }
                img {
                    margin: auto;
                    position: relative;
                    align-self: center;
                    height: auto;
                    width: 100%;
                    top: 0.3125em;
                    border-radius: 0.375em;
                }
            }
        }
    }
}
.bgDraw,
.bgDraw2 {
    position: absolute;
    left: 0;
    z-index: 0;
    overflow: hidden;
    .tsparticles,
    .tsparticles2 {
        position: absolute !important;
        z-index: auto !important;
        pointer-events: auto !important;
    }
}
.bgDraw {
    width: calc(100%);
    height: 22.5em;
    top: 0;
    .tsparticles {
        width: 37.5em !important;
        height: 18.75em !important;
        top: -15.6em !important;
        right: -11.875em !important;
        clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
        transform: rotate(45deg);
    }
}
.bgDraw2 {
    width: calc(100% - 0em);
    height: calc(50vh - 19.237vw - 0vw);
    bottom: 6.14%;
    .tsparticles2,
    #tsparticles2 {
        width: 100% !important;
        height: 100% !important;
        bottom: 0 !important;
        left: 0 !important;
    }
}
