@import "../../assets/styles/00_utils/4_fonts";
@import "../../assets/styles/00_utils/1_variables";
@import "../../assets/styles/00_utils/2_functions";
@import "../../assets/styles/00_utils/3_mixins";

.portfolio .portfolio-heading {
    flex: 100%;
    max-width: 100%;
    margin: 0 0 40px 0;
}
.portfolio .portfolio-heading h3 {
    @include h3;
    font-weight: 500;
    text-align: left;
}
.portfolio .portfolio-item-inner {
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    transition: all 0.3s ease;
    &:hover {
        &::after {
            @include after_Before;
            border-radius: 25px;
            z-index: -1;
            opacity: 0;
        }
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
        .icon {
            font-size: 25px;
            color: var(--bg-black-100);
            background-color: var(--skin-color);
        }
    }
}
.portfolio .portfolio-item-inner img {
    width: 100%;
    display: block;
}
.portfolio h4 img {
    max-height: 28px;
}

#modalPortfolio {
    overflow: hidden;
    width: 62.5%;
    width: 100%;
    position: relative;
    height: 100%;
    padding: 30px 15px;
    text-align: center;
    border: 1px solid var(--bg-black-50);
    background-color: rgba-color($bg-black-900-light, 0.3);
    border-radius: 16px;
    .portfolio-item-inner {
        box-shadow: 0 0 20px rgba(48, 46, 77, 0);
        border: 6px solid transparent;
        &:hover {
            transform: scale(1);
        }
    }
}
